ol {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    color: red;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 600;
}

ul li:nth-child(-n + 3) {
    color: blue;
}

ul li.rosa {
    background-color: pink;
}

ul li a.stackflow {
    font-weight: bold;
    color: orange;
}

ul li a.w3schhools {
    font-weight: bold;
    color: green;
}

ul li a.developer {
    font-weight: bold;
    color: black;
}

ul li a.devdocs {
    font-weight: bold;
    color: yellow;
}

ul li a.betrybe {
    font-weight: bold;
    color: green;
}